{# templates/pages/informations.html.twig #}

{% extends "index.html.twig" %}

{% block title %}
Informations - {{ parent() }}
{% endblock %}

{% block breadcrumb %}
{{ parent() }}
<li class="list-inline-item seprate">
    <span>/</span>
</li>
<li class="list-inline-item active">
    Informations
</li>
{% endblock %}

{% block body %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Informations</strong>
        </div>
        <div class="card-body">
            <h3 class="mb-2 mt-2">
                Contribution et support
            </h3>
            <p>
                La contribution et le support est géré via le logiciel en ligne Github. Vous pouvez accéder au repository sur <a href="https://github.com/nicolas-tourrette/dev-annales-esirem">ce lien</a>. N'hésitez pas à contribuer et à développer des fonctionnalités pour ce site via cet outil. La gestion du support se fait via Github également. Pour ouvrir un ticket, vous pouvez vous rendre sur <a href="https://github.com/nicolas-tourrette/dev-annales-esirem/issues">ce lien</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}