{# email/new_account.html.twig #}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Annales ESIREM - Création de votre compte</title>
</head>

<body>
    <p style="text-align: center;">
        <img src="https://esirem.u-bourgogne.fr/wp-content/uploads/2019/12/cropped-logo-couleur-site-web.png">
    </p>
    <p>
        Bonjour {{ email.toName }},<br>
        Votre espace sur l'espace Annales ESIREM a bien été créé. Votre nom d'utilisateur est {{ user.username }}. Vous pouvez vous connecter dès maintenant à <a href="{{absolute_url(path('login', {'last_username': user.username}))}}">cette adresse</a> avec le mot de passe que vous avez défini lors de votre enregistrement.
    </p>
    <p>
        Bien cordialement,<br>
        Nicolas TOURRETTE, responsable du projet
    </p>
    <p style="font-family: monospace;">
        --<br>
        Ce message vous a été envoyé automatiquement. Merci de ne pas y répondre.<br>
        This email has been sent automatically. Please do not reply to it.
    </p>
</body>

</html>